<div id="action-menu" class="action-menu">

    <div class="action-menu-content">

        <a id="am-profile" href="#">
            <i class="fa fa-user"></i>
            <span>Profile</span>
        </a>

        <a id="am-edit" href="#">
            <i class="fa fa-pencil"></i>
            <span>Edit User</span>
        </a>

        <a id="am-password" href="#">
            <i class="fa fa-key"></i>
            <span>Change Password</span>
        </a>

        <hr>

        <a id="am-enable" href="#">
            <i class="fa fa-check-circle"></i>
            <span>Enable User</span>
        </a>

        <a id="am-block" href="#">
            <i class="fa fa-ban"></i>
            <span>Block User</span>
        </a>

        <a id="am-disconnect" href="#">
            <i class="fa fa-plug"></i>
            <span>Disconnect User</span>
        </a>

        <hr>

        <a id="am-logs" href="#">
            <i class="fa fa-history"></i>
            <span>Session Logs</span>
        </a>

        <a id="am-traffic" href="#">
            <i class="fa fa-chart-bar"></i>
            <span>Traffic Usage</span>
        </a>

        <a id="am-reset" href="#">
            <i class="fa fa-refresh"></i>
            <span>Reset Traffic</span>
        </a>

        <hr>

        <a id="am-delete"
           class="danger"
           href="#">
            <i class="fa fa-trash"></i>
            <span>Delete User</span>
        </a>

    </div>

</div>
