<aside class="sidebar">


<div class="brand">

<div class="logo">
L
</div>


<div>
<h2>
LAK PANEL
</h2>

<span>
Control Center
</span>

</div>


</div>



<div class="menu-title">
MAIN
</div>



<a href="/" class="menu-item active">
<span>⌂</span>
Dashboard
</a>


<a href="/users/" class="menu-item">
<span>♙</span>
Users
</a>



<a href="/sessions/" class="menu-item">
<span>●</span>
Online Users
</a>



<a href="/servers/" class="menu-item">
<span>▣</span>
Servers
</a>



<a href="#" class="menu-item">
<span>□</span>
Groups
</a>


<a href="#" class="menu-item">
<span>♙</span>
Administrators
</a>




<div class="menu-title system">
SYSTEM
</div>


<a href="#" class="menu-item">
<span>▤</span>
Logs
</a>


<a href="#" class="menu-item">
<span>♧</span>
Backups
</a>


<a href="#" class="menu-item">
<span>↻</span>
Restore
</a>


<a href="#" class="menu-item">
<span>⚙</span>
Settings
</a>




<div class="system-box">


<h4>
System Status
</h4>


<p class="online-dot">
● All systems operational
</p>


<hr>


<span>
Server Time
</span>


<p>
2026-07-16 03:00
</p>


</div>


</aside>
