LPANEL_SECRET_KEY=CHANGE_THIS_SECRET

LPANEL_DB_HOST=127.0.0.1
LPANEL_DB_PORT=5432
LPANEL_DB_NAME=lpanel
LPANEL_DB_USER=lpanel
LPANEL_DB_PASSWORD=CHANGE_THIS_PASSWORD

LPANEL_REDIS_HOST=127.0.0.1
LPANEL_REDIS_PORT=6379
