[Unit]
Description=OpenConnect VPN Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/ocserv -c /etc/ocserv/ocserv.conf
Restart=always

[Install]
WantedBy=multi-user.target
