*{
    box-sizing:border-box;
}


.login-page{

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:center;

    background:

    radial-gradient(
        circle at top,
        #1e40af 0%,
        #020617 45%,
        #000 100%
    );

    font-family:

    Inter,
    Arial,
    sans-serif;

}


.login-box{

    width:420px;

    padding:45px;

    border-radius:24px;

    background:

    rgba(15,23,42,.85);

    border:

    1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);


    box-shadow:

    0 30px 80px rgba(0,0,0,.55);

}



.login-header{

    text-align:center;

    margin-bottom:35px;

}



.logo{

    width:70px;

    height:70px;

    margin:auto;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:20px;


    background:

    linear-gradient(
        135deg,
        #2563eb,
        #06b6d4
    );


    color:white;

    font-size:38px;

    font-weight:800;

}



.login-header h1{

    margin-top:20px;

    color:white;

    font-size:32px;

    letter-spacing:2px;

}



.login-header p{

    color:#94a3b8;

    font-size:14px;

}



.field{

    margin-bottom:22px;

}



.field label{

    display:block;

    margin-bottom:8px;

    color:#cbd5e1;

    font-size:14px;

}



.field input{

    width:100%;

    height:52px;

    padding:0 16px;

    border-radius:12px;

    border:

    1px solid rgba(255,255,255,.1);


    background:#020617;

    color:white;

    outline:none;

    font-size:15px;

}



.field input:focus{

    border-color:#2563eb;

}



button{

    width:100%;

    height:54px;

    border:0;

    border-radius:14px;


    background:

    linear-gradient(
        135deg,
        #2563eb,
        #3b82f6
    );


    color:white;

    font-size:16px;

    font-weight:700;

    cursor:pointer;


    transition:.25s;

}



button:hover{

    transform:translateY(-2px);

    box-shadow:

    0 15px 30px rgba(37,99,235,.35);

}



button:disabled{

    opacity:.6;

    cursor:not-allowed;

}
