[Unit]
Description=LAK Panel
After=network.target


[Service]
Type=simple

WorkingDirectory=/opt/lak-panel/backend

Environment=PYTHONUNBUFFERED=1

ExecStart=/opt/lak-panel/backend/venv/bin/python3 /opt/lak-panel/backend/run.py

Restart=always

RestartSec=3

User=root


[Install]
WantedBy=multi-user.target
