[Unit]
Description=LAK Panel
After=network.target

[Service]

Type=simple

WorkingDirectory=/opt/lak-panel/backend

ExecStart=/opt/lak-panel/backend/venv/bin/python run.py

Restart=always
RestartSec=3

User=root
Group=root

[Install]
WantedBy=multi-user.target
