<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>
{% block title %}
LAK PANEL
{% endblock %}
</title>


<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/components.css">


{% block css %}
{% endblock %}


</head>


<body>


<div class="app">


{% include "layout/sidebar.html" %}



<div class="main">


{% include "layout/header.html" %}



<section class="content">


{% block content %}
{% endblock %}


</section>



</div>


</div>



<script src="/static/js/app.js"></script>


</body>

</html>
