<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
{% block title %}LAK PANEL{% endblock %}
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">


</head>


<body>


<div class="app">


    {% include "layout/sidebar.html" %}


    <div class="main">


        {% include "layout/header.html" %}


        <main class="content">

            {% block content %}

            {% endblock %}

        </main>


    </div>


</div>



</body>

</html>
