*{
    box-sizing:border-box;
}


body{

    margin:0;

    font-family:tahoma,Arial;

    background:#f1f5f9;

    direction:rtl;

    color:#1e293b;

}



/* Sidebar */

.sidebar{

    position:fixed;

    right:0;

    top:0;

    width:250px;

    height:100vh;

    background:#0f172a;

    padding:25px 15px;

    z-index:100;

}



.sidebar h2{

    color:#38bdf8;

    text-align:center;

    margin-bottom:35px;

}



.sidebar a{

    display:block;

    color:#cbd5e1;

    text-decoration:none;

    padding:14px;

    margin-bottom:10px;

    border-radius:12px;

    transition:.3s;

}



.sidebar a:hover{

    background:#1e293b;

    color:white;

}



/* Main area */


.container{


    margin-right:250px;

    padding:30px;

}



/* Topbar */


.topbar{


    background:white;

    padding:20px 25px;

    border-radius:18px;

    margin-bottom:25px;

    box-shadow:

    0 8px 25px rgba(0,0,0,.06);

}



.topbar h2{

    margin:0;

}



/* Cards */


.row{

    display:grid;

    grid-template-columns:

    repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

}



.card{


    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:

    0 8px 25px rgba(0,0,0,.06);

    margin-bottom:20px;


}



.card h3{

    color:#475569;

}



.stat{


    font-size:38px;

    font-weight:bold;

    color:#2563eb;

    margin:15px 0;

}




/* Table */


table{


    width:100%;

    background:white;

    border-radius:15px;

    overflow:hidden;

}



th{

    background:#f8fafc;

    color:#475569;

}



td,th{

    padding:14px;

    text-align:center;

}



tr{

    border-bottom:1px solid #e2e8f0;

}



/* Inputs */


.form-control{


    width:100%;

    padding:13px;

    margin:10px 0;

    border:1px solid #cbd5e1;

    border-radius:12px;

}



/* Buttons */


button,
.login-btn{


    background:#2563eb;

    color:white;

    border:0;

    padding:12px 25px;

    border-radius:12px;

    cursor:pointer;


}



button:hover{

    background:#1d4ed8;

}



/* Links */


.card a{


    text-decoration:none;

}



/* Mobile */


@media(max-width:900px){


.sidebar{

    position:relative;

    width:100%;

    height:auto;

}



.container{

    margin-right:0;

}


}
