{% extends "layout/base.html" %}


{% block title %}
Users - LAK PANEL
{% endblock %}



{% block css %}
<link rel="stylesheet" href="/static/css/users.css">
{% endblock %}



{% block content %}


<div class="page-head">

<div>
<h1>Users</h1>
<p>Manage and monitor all users</p>
</div>


<div class="create-btn">
+ Create User
</div>


</div>



<!-- Statistics -->

<div class="stats">


<div class="stat-card blue">

<div class="icon">
👥
</div>

<div>
<span>Total Users</span>
<strong>{{ users|length }}</strong>
<small>All registered users</small>
</div>

</div>




<div class="stat-card green">

<div class="icon">
🟢
</div>

<div>
<span>Online Users</span>
<strong>0</strong>
<small>Currently connected</small>
</div>

</div>




<div class="stat-card purple">

<div class="icon">
🖥
</div>

<div>
<span>Servers</span>
<strong>1</strong>
<small>Active servers</small>
</div>

</div>




<div class="stat-card orange">

<div class="icon">
📅
</div>

<div>
<span>Expiring Soon</span>
<strong>0</strong>
<small>Within 7 days</small>
</div>

</div>


</div>





<div class="users-box">


<div class="box-header">


<h2>
Users List
</h2>


<div class="search">

<input placeholder="Search users...">

<button>
Filter
</button>

</div>


</div>





<table>


<thead>

<tr>

<th></th>

<th>Username</th>

<th>Status</th>

<th>Group</th>

<th>Server</th>

<th>Traffic</th>

<th>Expire</th>

<th>Actions</th>

</tr>

</thead>



<tbody>


{% for user in users %}

<tr>


<td>
<input type="checkbox">
</td>



<td>

<div class="username">

<div class="avatar">
{{ user.username[0]|upper }}
</div>


{{ user.username }}

</div>

</td>




<td>

<span class="status offline">
● Offline
</span>


</td>




<td>
-
</td>


<td>
Local
</td>


<td>
{{ user.used_traffic or 0 }}
/
{{ user.traffic_limit or 0 }}
</td>



<td>


{% if user.expire_date %}

{{ user.expire_date.strftime('%Y-%m-%d') }}

{% else %}

-

{% endif %}


</td>




<td>

<button class="action">
⋮
</button>

</td>


</tr>



{% endfor %}


</tbody>


</table>



<div class="footer">

Showing 1 to {{users|length}} users


</div>


</div>




{% endblock %}
