{% extends "base.html" %}


{% block content %}


<div class="cards">


<div class="stat-card">

<div class="icon">
👥
</div>

<h2>
{{users|length}}
</h2>

Users

</div>



<div class="stat-card">

<div class="icon">
🟢
</div>

<h2>
0
</h2>

Online

</div>



<div class="stat-card">

<div class="icon">
🖥
</div>

<h2>
1
</h2>

Servers

</div>



<div class="stat-card">

<div class="icon">
📅
</div>

<h2>
0
</h2>

Expiring

</div>


</div>





<div class="table-box">


<div class="table-header">

<h2>
Users List
</h2>


<input class="search"
placeholder="Search users...">

</div>




<table>


<tr>

<th>
User
</th>


<th>
Status
</th>


<th>
Expire
</th>


<th>
Traffic
</th>


<th>
Action
</th>


</tr>




{% for user in users %}


<tr>


<td>

<span class="avatar">
{{user.username[0]}}
</span>


{{user.username}}

</td>



<td>

<span class="badge offline">

Offline

</span>

</td>



<td>

{{user.expire_date}}

</td>



<td>

-

</td>


<td>

⋮

</td>


</tr>


{% endfor %}



</table>


</div>



{% endblock %}
