<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title if title else "LAK Panel" }}</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

{% include "navbar.html" %}

<div class="layout">

    {% include "sidebar.html" %}

    <main class="content">

        {% block content %}
        {% endblock %}

    </main>

</div>

<!-- بارگذاری اسکریپت‌ها -->
<script src="/static/js/clock.js"></script>

</body>

</html>
