{% extends "base.html" %}

{% block content %}

<div class="page-header">

    <div>

        <h1>Dashboard</h1>

        <p>
            Live server monitoring
        </p>

    </div>

</div>

<div id="dashboard-content">

    {% include "dashboard_content.html" %}

</div>

<script>

window.dashboardSettings = {

    autoRefresh:
        {{ "true" if dashboard.auto_refresh else "false" }},

    interval:
        {{ dashboard.refresh_interval }}

};

</script>

<script src="/static/js/dashboard.js"></script>

{% endblock %}
