{% extends "base.html" %}

{% block content %}

<h2 class="page-title">

Dashboard

</h2>

<div class="cards">

    <div class="card">

        <h3>CPU</h3>

        <span>{{ cpu }}%</span>

    </div>

    <div class="card">

        <h3>RAM</h3>

        <span>{{ ram }}%</span>

    </div>

    <div class="card">

        <h3>DISK</h3>

        <span>{{ disk }}%</span>

    </div>

    <div class="card">

        <h3>OCSERV</h3>

        <span>{{ ocserv }}</span>

    </div>

</div>

<div class="info-box">

    <h3>System Uptime</h3>

    <p>{{ uptime }}</p>

</div>

{% endblock %}
