<!DOCTYPE html>

<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<title>
{% block title %}LAK PANEL{% endblock %}
</title>


<link rel="stylesheet"
href="/static/css/panel.css">


</head>


<body>


<div class="sidebar">


<div class="logo">

🛡 LAK PANEL

</div>



<div class="menu">


<div class="menu-title">
MAIN
</div>


<a href="/">
🏠 Dashboard
</a>


<a href="/users" class="active">
👥 Users
</a>


<a href="/servers">
🖥 Servers
</a>


<a>
📁 Groups
</a>



<div class="menu-title">
SYSTEM
</div>


<a>
📜 Logs
</a>


<a>
💾 Backup
</a>


<a>
⚙ Settings
</a>


</div>


</div>



<div class="main">


<div class="topbar">


<div class="page-title">

<h1>
{% block header %}
Users
{% endblock %}
</h1>

<span>
Manage and monitor system
</span>


</div>



<div>

🟢 Online

</div>


</div>



<div style="padding:35px">


{% block content %}

{% endblock %}


</div>


</div>



</body>

</html>
