*{

box-sizing:border-box;

}


body{

margin:0;

background:#061124;

font-family:
Inter,
Arial,
sans-serif;

color:white;

}



.panel{

display:flex;

}



.main{

flex:1;

}



.content{

padding:35px;

}
